@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Google Sans', sans-serif;
    font-style: normal;
    font-size: 14px;

    text-align: center;

    display: grid;
    place-items: center;
}

canvas{
    display: block;
    max-width: 100%;
    height: auto;
}
